body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #912222;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

.container {
    background-color: #800000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #800000;
}

.info h1 {
    font-size: 24px;
    margin: 10px 0;
    color: #ffffff;
}

.info h2 {
    font-size: 18px;
    margin: 20px 0 10px;
    color: #ffffff;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.social-icons a, .drawer a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6e0909;
    color: #fff;
    width: 80px;
    height: 80px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 24px;
}

.social-icons a:hover, .drawer a:hover {
    background-color: #a00000;
    transform: scale(1.1);
}

#more-options {
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.container p {
    font-size: 14px;
    color: #ffffff;
    margin-top: 20px;
}

.drawer {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

@media only screen and (max-width: 768px) {
    .container {
        transform: scale(0.95);
        transform-origin: center;
        max-width: 350px;
    }

    .profile-picture img {
        width: 130px;
        height: 130px;
    }

    .info h1 {
        font-size: 21.6px;
    }

    .info h2 {
        font-size: 16.2px;
    }

    .social-icons a, .drawer a {
        width: 60px;
        height: 60px;
        font-size: 22px;
    }

    .container p {
        font-size: 12px;
    }

    #more-options {
        font-size: 12px;
    }
}