body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #912222;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

.container {
    background-color: #800000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #800000;
}

.info h1 {
    font-size: 24px;
    margin: 10px 0;
    color: #ffffff;
}

.info h2 {
    font-size: 18px;
    margin: 20px 0 10px;
    color: #ffffff;
}

/* Estilo para os ícones principais */
.social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.social-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6e0909;
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 24px;
}

.social-icons a:hover {
    background-color: #a00000;
}

#more-options {
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.container p {
    font-size: 14px;
    color: #ffffff;
    margin-top: 20px;
}

.drawer {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.drawer a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6e0909;
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 24px;
}

.drawer a:hover {
    background-color: #a00000;
}

.social-icons a i, .drawer a i {
    vertical-align: middle;
    line-height: 1;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 768px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        padding: 0 10px;
    }

    .container {
        transform: scale(0.9);
        transform-origin: center;
    }

    .profile-picture img {
        width: 135px;
        height: 135px;
    }

    .info h1 {
        font-size: 21.6px;
    }

    .info h2 {
        font-size: 16.2px;
    }

    .social-icons a {
        font-size: 13px;
        width: 50px;
        height: 50px;
    }

    .drawer a {
        font-size: 13px;
        width: 50px;
        height: 50px;
    }

    .container p {
        font-size: 13px;
    }

    #more-options {
        font-size: 13px;
    }
}
