:root {
    --primary-bg-color: #912222;
    --secondary-bg-color: #800000;
    --button-bg-color: #6e0909;
    --button-hover-bg-color: #a00000;
    --text-color: #ffffff;
    --font-family: 'Poppins', sans-serif;
    --font-size-large: 24px;
    --font-size-medium: 16px;
    --button-size: 80px;
    --button-font-size: 28px;
    --profile-img-size: 150px;
    --border-radius: 12px;
}

button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    color: inherit;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 20px;
    background-color: var(--primary-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

.container {
    background-color: var(--secondary-bg-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container p {
    font-size: var(--font-size-medium);
    color: var(--text-color);
    margin-top: 20px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-picture img {
    width: var(--profile-img-size);
    height: var(--profile-img-size);
    border-radius: 50%;
    border: 2px solid var(--secondary-bg-color);
}

.info {
    color: var(--text-color);
    max-width: 400px;
}

.info h1 {
    font-size: var(--font-size-large);
    margin: 10px 0;
    color: var(--text-color);
}

.info p {
    font-size: var(--font-size-medium);
    margin: 10px 0;
    color: var(--text-color);
    text-align: left;
}

.skills-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.links h2 {
    font-size: var(--font-size-large);
    margin: 20px 0 10px;
    color: var(--text-color);
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.social-icons button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button-bg-color);
    color: var(--text-color);
    width: var(--button-size);
    height: var(--button-size);
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    font-size: var(--button-font-size);
}

.social-icons button:hover {
    background-color: var(--button-hover-bg-color);
    transform: scale(1.1);
}

.drawer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
}

.drawer iframe {
    border-radius: var(--border-radius);
    width: 95%;
    height: 352px;
    max-width: 400px;
}

p {
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .container {
        transform: scale(0.95);
        transform-origin: center;
        max-width: 350px;
    }

    .container p {
        font-size: 12px;
    }

    .profile-picture img {
        width: 130px;
        height: 130px;
    }

    .info h1 {
        font-size: 21.6px;
    }

    .links h2 {
        font-size: 21.6px;
    }

    .social-icons button {
        width: 60px;
        height: 60px;
        font-size: 22px;
    }
}